body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

  @include mq('phonesm') {
    overflow-y: scroll;
  }
}

.container {
  position: relative;
  z-index: 1;
  padding: 10rem;

  @include mq('desk') {
    padding: 8rem;
  }

  @include mq('tabland') {
    padding: 6rem;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 11rem;
  padding-top: 3rem;

  @include mq('phonesm') {
    margin-top: 0;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;

    .illustration {
      grid-row: 1 / 2;
    }

    .info-box {
      grid-row: 2 / 3;
    }
  }
}

footer {
  a:link,
  a:visited {
    color: blue;
  }
}

footer {
  @include mq('tabport') {
    margin-top: 4rem;
  }

  @include mq('phonesm') {
    font-size: 1rem;
  }
}

@import './modules/header';
@import './modules/info-box';
@import './modules/illustration';
@import './modules/background-box';
