body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.container {
  position: relative;
  z-index: 1;
  min-width: $container-min-width;
  max-width: $container-max-width;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 11rem;
  padding-top: 3rem;
}

@import "./modules/header";
@import "./modules/info-box";
@import "./modules/illustration";
@import "./modules/background-box";
