* {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
}

body {
  font-size: 1.8rem;
}

.subheading {
  font-family: "Barlow", sans-serif;
}

header *,
.heading,
.lead,
.cta > button {
  font-weight: 700;
}
