$color-font-nav: #12172a;
$color-font-heading: #232943;
$color-font-subheading: #65626e;
$color-font-subheading-lighter: #a8a8a8;
$color-primary: #ff5d5e;
$color-primary-active: #ff8584;
$color-secondary: #edf2f6;
$color-font-nav-active: #898d96;

$bp-phonesm: 700px;
$bp-phonelg: 810px;
$bp-tabport: 960px;
$bp-tabland: 1100px;
$bp-desk: 1250px;
$bp-large: 1450px;
