header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;

  nav {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
