header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8rem;

  & * {
    color: $color-font-nav;
  }

  nav {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq("tabland") {
      width: 40%;
    }

    @include mq("tabport") {
      width: 47%;
    }

    @include mq("phonesm") {
      width: 20%;
      align-items: flex-end;
    }
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;

    & > li {
      display: flex;
      align-items: center;
    }

    & > li > a {
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.2s ease-in-out;

      &:hover {
        text-decoration: underline;
      }

      &.login:hover {
        color: $color-font-nav-active;
      }
    }

    span {
      position: relative;
      top: -3px;
      display: flex;
      align-items: center;
      user-select: none;
      font-size: 2rem;
      color: #d0d5d9;
    }

    @include mq("phonesm") {
      display: none;
      span {
        display: none;
      }
    }
  }

  .mobile-menu {
    display: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    div {
      width: 20px;
      height: 3px;
      background-color: $color-font-nav;
      margin: 2px;
    }

    &.active {
      transform: rotate(-3deg) scale(0.99);

      div {
        background-color: $color-font-nav-active;
      }
    }

    @include mq("phonesm") {
      display: flex;
      flex-direction: column;
    }
  }
}
