.illustration {
  grid-column: 2 / 3;
  display: grid;
  place-content: center;

  &-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140%;
    transform: translate(10rem, -5rem);

    img {
      width: 100%;
    }

    @include mq('large') {
      transform: translate(20rem, -5rem);
    }

    @include mq('desk') {
      transform: translate(10rem, 0);
    }

    @include mq('tabland') {
      width: 120%;
      transform: translate(10rem, 0);
    }
  }
}
