.info-box {
  .leading-text {
    text-transform: uppercase;
    margin-bottom: 1.7rem;

    .lead {
      display: inline-block;
      text-align: center;
      background-color: $color-font-heading;
      color: #fff;
      width: 5.5rem;
      padding: 0.3rem 0.5rem;
      border-radius: 15px;
    }

    p {
      color: $color-font-subheading-lighter;
      display: inline;
      letter-spacing: 3px;
      margin-left: 1.7rem;
    }
  }

  .heading {
    color: $color-font-heading;
    font-size: 6rem;
    text-transform: uppercase;
    max-width: 50rem;
    margin-bottom: 3rem;
    line-height: 1;
  }

  .subheading {
    color: $color-font-subheading;
    max-width: 29rem;
    line-height: 1.3;
    margin-bottom: 6rem;
  }

  .cta {
    button {
      background-color: $color-primary;
      color: #fff;
      font-size: 1.5rem;
      padding: 1rem 3.5rem;
      border-radius: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 1px;

      &:hover {
        background: $color-primary-active;
      }

      &:focus {
        outline: 1.5px dotted #fff;
        outline-offset: -7px;
      }

      &:active {
        transform: scale(0.99);
      }
    }

    p {
      color: $color-font-subheading-lighter;
      display: inline;
      text-transform: uppercase;
      margin-left: 2rem;
      letter-spacing: 4px;
    }
  }
}
